<div class="card mat_card" id="first_card">
    <div id="banner">
        <img [src]="miPortfolio.backImage" alt="Banner">
    </div>
    <div id="info" style="padding: 50px">
        <div id="info_img">
            <img class="profile_img"
                [src]="miPortfolio.image" alt="Foto de Perfil">
            <div class="btn-edit"><a href="#" class="btn-right"><i class="fa fa-pen"></i></a></div>
        </div>
        <div id="info_data">
            <div id="acerca_de_info">
                <div>
                    <h1>{{miPortfolio.fullName}}</h1>
                    <div id="info_company">{{miPortfolio.position}}</div>
                    <div id="info_contact">
                        <p>{{miPortfolio.location}}</p>
                        <a href="#">Información de contacto</a>
                    </div>
                </div>
                <div>
                    <ul id="info_details" style="list-style: none;">
                        <li>
                            <a href="https://www.penguinlibros.com/">
                                <img src="https://www.penguinlibros.com/ar/img/penguinlibros-ar-logo-16565132614.jpg"
                                    alt="Logo Penguin">
                                <h2>Penguin Random House Grupo Editorial</h2>
                            </a>
                        </li>
                        <li>
                            <a href="https://www.uba.ar/">
                                <img src="https://media-exp1.licdn.com/dms/image/C4E0BAQF-QztqGXBokQ/company-logo_200_200/0/1519861386584?e=1668643200&v=beta&t=uUQmv_to7EDo1L-jC6EKVmDbDgoe4JdD0oF5HltuMWg"
                                    alt="Logo UBA">
                                <h2>Universidad de Buenos Aires</h2>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div id="info_actions">
                <button type="button" class="btn btn-primary">Tengo interés en</button>
                <button type="button" class="btn btn-light">Añadir sección</button>
                <button type="button" class="btn btn-light">Más</button>
            </div>
        </div>
    </div>
</div>