<div class="card mat_card">
    <div id="experience">
        <div class="card-titles">
            <h2>Experiencia</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div>
            <ul class="items-list" style="list-style: none">
                <li>
                    <div class="data-container row">
                        <div class="text-center col-2">
                            <a href="https://www.penguinlibros.com/">
                                <div class="logo-image-container">
                                    <img class="logo-image"
                                        src="https://media-exp1.licdn.com/dms/image/C560BAQGTyonVJL9Jug/company-logo_200_200/0/1657901209382?e=1669248000&v=beta&t=tUpAU6VoHoBjcYXela9PukrvP52jqgrHEw7wklcfcdc"
                                        alt="Logo Penguin">
                                </div>
                            </a>
                        </div>
                        <div class="list-info col-10">
                            <div>
                                <h3>Penguin Random House Grupo Editorial</h3>
                                <p>Auxiliar de Producción de Audiolibros</p>
                                <h4>oct 2021 - actualidad - 10 meses</h4>
                                <h4>Buenos Aires, Argentina</h4>
                            </div>
                        </div>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a href="#" class="btn-right"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="data-container row">
                        <div class="text-center col-2">
                            <a href="https://entercommla.com/">
                                <div class="logo-image-container">
                                    <img class="logo-image"
                                        src="https://media-exp1.licdn.com/dms/image/C560BAQGRSJmvYUbJdQ/company-logo_200_200/0/1624048133510?e=1669248000&v=beta&t=NXMn2JHkkoLfoMPD0am51NRohovhx1Q-glz3Eqa3kQs"
                                        alt="Logo Entercomm">
                                </div>
                            </a>
                        </div>
                        <div class="list-info col-10">
                            <div>
                                <h3>Entercomm</h3>
                                <p>Ejecutiva de cuentas</p>
                                <h4>jul 2021 - oct 2021 - 3 meses</h4>
                                <h4>Buenos Aires, Argentina</h4>
                            </div>
                        </div>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a href="#" class="btn-right"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="data-container row">
                        <div class="text-center col-2">
                            <a href="https://binit.tech/">
                                <div class="logo-image-container">
                                    <img class="logo-image"
                                        src="https://media-exp1.licdn.com/dms/image/D4D0BAQHOk44dlb5oqg/company-logo_200_200/0/1656608647092?e=1669248000&v=beta&t=RZz5uh_KDtBWqjhGfbl6WDepNeKLoUkGkvQtU9IXibQ"
                                        alt="Logo Binit">
                                </div>
                            </a>
                        </div>
                        <div class="list-info col-10">
                            <div>
                                <h3>Binit</h3>
                                <p>Consultora de Comunicaciones</p>
                                <h4>sep 2019 - jun 2021 - 1 año y 10 meses</h4>
                                <h4>Buenos Aires, Argentina</h4>
                            </div>
                        </div>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a href="#" class="btn-right"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="data-container row">
                        <div class="text-center col-2">
                            <a href="https://www.itba.edu.ar/">
                                <div class="logo-image-container">
                                    <img class="logo-image"
                                        src="https://media-exp1.licdn.com/dms/image/C560BAQERO44d80vFIg/company-logo_200_200/0/1519867420254?e=1669248000&v=beta&t=uODaVWAIOp7Dzf6EGkCoNvb6vFTxkae6bgxMhUHgp7I"
                                        alt="Logo ITBA">
                                </div>
                            </a>
                        </div>
                        <div class="list-info col-10">
                            <div>
                                <h3>ITBA</h3>
                                <p>Asistente de Ventas</p>
                                <h4>sep 2017 - sep 2019 - 2 años</h4>
                                <h4>Buenos Aires, Argentina</h4>
                            </div>
                        </div>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a href="#" class="btn-right"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <div id="education">
        <div class="card-titles">
            <h2>Educación</h2>
            <div class="btn-edit">
                <a href="#" class="btn-right"><i class="fa fa-plus"></i></a>
            </div>
        </div>
        <div>
            <ul class="items-list" style="list-style: none">
                <li *ngFor="let educacion of educacionList">
                    <div class="data-container row">
                        <div class="text-center col-2">
                            <a href="https://www.uba.ar/">
                                <div class="logo-image-container">
                                    <img class="logo-image" [src]="educacion.img" alt="Logo UBA">
                                </div>
                            </a>
                        </div>
                        <div class="list-info col-10">
                            <div>
                                <div>
                                    <h3>{{educacion.school}}</h3>
                                    <p>{{educacion.career}}</p>
                                    <p><time>{{educacion.start}}</time> - <time>{{educacion.end}}</time></p>
                                </div>
                                </div>
                            </div>
                    </div>
                    <div class="data-control">
                        <div class="btn-edit">
                            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
                            <a href="#" class="btn-right"><i class="fa fa-trash"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>