<div class="card mat_card">
    <div class="card-titles">
        <h2>Acerca de</h2>
        <div class="btn-edit" onclick="cambiar_parrafo()">
            <a href="#" class="btn-right">
                <i class="fa fa-pen"></i>
            </a>
        </div>
    </div>
    <div>
        <p id="text-acercade">Licenciada en Comunicación Social con orientación en Producción Multimedial.
            Editora y correctora de estilo con experiencia en el área de educación y capacitación tecnológica.
        </p>
    </div>
    <div>
        <input id="edit-acercade" type="text" oninput="myFunction2(this.value)" style="display:none">
    </div>
</div>

<div class="card mat_card">
    <div id="Nombre"></div>
</div>
<div class="card mat_card">
    <div id="Apellido"></div>
</div>
<div class="card mat_card">
    <div id="Titulos"></div>
</div>
<input type="file" id="file1" onchange="showFile1(this)">

<script>
    function cambiar_parrafo() {
        document.getElementById("edit-acercade").style.display = "block";
        let texto = document.getElementById("text-acercade").innerText;
        console.log(texto);
    };

    function myFunction2(valor) {
        document.getElementById("text-acercade").innerText = valor;
    };

    let textarea=document.getElementById("edit-acercade")
    textarea.addEventListener('keyup', (e) => {
        logMessage('Key "${e.key}" released [event: keyup]');
        if (e.key=="Enter"){
            document.getElementById("edit-acercade").style.display="none"
        }
    });

    function showFile(input) {
        let file = input.files[0];
        alert('File name: ${file.name}');
        alert('Last modified: ${file.lastModified}');
        let reader = new FileReader();
        reader.readAsText(file);
        reader.onload = function() {
            console.log(reader.result);
            document.getElementById("text-acercade").innerText=reader.result;
        };
        reader.onerror = function() {
            console.log(reader.error);
        };
    }
</script>