<header class="navbar navbar-dark">
     <nav class="container-xxl flex-wrap flex-md-nowrap">
    <div>
        <a href="https://argentinaprograma.inti.gob.ar/">
            <img class="navbar_img"
                src="https://argentinaprograma.inti.gob.ar/pluginfile.php/1/theme_moove/logo/1661403264/APLogo-20-20.png"
                alt="Logo Argentina Programa">
        </a>
    </div>
    <div>
        <ul class="navbar-nav flex-row flex-wrap fa-2x">
            <li>
                <a class="nav-link p-2" href="https://github.com/ariana-luz" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </li>
            <li>
                <a class="nav-link p-2" href="https://www.linkedin.com/in/arianaosunavargas/" target="_blank">
                    <i class="fa fa-linkedin"></i>
                </a>
            </li>
            <li>
                <button>Login</button>
            </li>
        </ul>
    </div>