<div class="card mat_card">
    <div class="card-titles">
        <h2>Logros</h2>
        <div class="btn-edit">
            <a href="#" class="btn-right"><i class="fa fa-pen"></i></a>
        </div>
    </div>
    <div class="achievements">
        <div>
            <div class="project-title">
                <h2>Proyectos</h2>
            </div>
            <div>
                <ul class="project-list">
                    <li>Portfolio</li>
                </ul>
            </div>
            <div class="project-title">
                <h2>Certificaciones</h2>
            </div>
            <div>
                <ul class="project-list">
                    <li>
                        <a href="https://mumuki.io/argentina-programa/certificates/verify/6E_Y_glgWr8dh6J3"
                            target="_blank">
                            <img src="https://mumuki.io/home/images/mumuki-logo.svg" alt="Logo Mumuki">
                            <h2>Certificación Sé programar</h2>
                        </a>
                        <p>Argentina Programa</p>
                    </li>
                    <li>
                        <a href="https://certificados.educacionit.com/certificados/cache/Ariana-Osuna-Vargas-1A572531/1A51564"
                            target="_blank">
                            <img src="https://static.educacionit.com/educacionit/assets/imagotype-it-fill-v2-color.svg"
                                alt="Logo EducacionIT">
                            <h2>Social Media Ads</h2>
                        </a>
                        <p>Educación IT</p>
                    </li>
                    <li>
                        <a href="https://certificados.educacionit.com/api/Ariana-Osuna-Vargas-1A572531/1A52288"
                            target="_blank">
                            <img src="https://static.educacionit.com/educacionit/assets/imagotype-it-fill-v2-color.svg"
                                alt="Logo EducacionIT">
                            <h2>Front End Web Developer</h2>
                        </a>
                        <p>Educación IT</p>
                    </li>
                    <li>
                        <a href="https://learndigital.withgoogle.com/link/1nur091p2ww" target="_blank">
                            <img src="https://formacionactivate.withgoogle.com/images/91ff637a27dd9fe3cdf053b7c9de73e1.svg"
                                alt="Logo GoogleActivate">
                            <h2>Introducción al Desarrollo Web I</h2>
                        </a>
                        <p>Google Actívate</p>
                        <p>ID de la credencial: 44M QFS WGW</p>
                    </li>
                    <li>
                        <a href="https://certificados.educacionit.com/api/Ariana-Osuna-Vargas-1A572531/1A51818"
                            target="_blank">
                            <img src="https://static.educacionit.com/educacionit/assets/imagotype-it-fill-v2-color.svg"
                                alt="Logo EducacionIT">
                            <h2>Programación Web</h2>
                        </a>
                        <p>Educación IT</p>
                    </li>
                    <li>
                        <a href="https://certificados.educacionit.com/api/Ariana-Osuna-Vargas-1A572531/1A51328"
                            target="_blank">
                            <img src="https://static.educacionit.com/educacionit/assets/imagotype-it-fill-v2-color.svg"
                                alt="Logo EducacionIT">
                            <h2>Javascript</h2>
                        </a>
                        <p>Educación IT</p>
                    </li>
                    <li>
                        <a href="https://certificados.educacionit.com/api/Ariana-Osuna-Vargas-1A572531/1A51318"
                            target="_blank">
                            <img src="https://static.educacionit.com/educacionit/assets/imagotype-it-fill-v2-color.svg"
                                alt="Logo EducacionIT">
                            <h2>User Experience (UX)</h2>
                        </a>
                        <p>Educación IT</p>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>